* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    color:white;
}

body {
    background-color: #000000;
    height:100vh;
    
}

.clock {
    height:500px;
}

.clock_body {
    border: 5px solid white;
    border-radius:50%;
    height:400px;
    width: 400px;
    background-color: rgb(10, 10, 10);
    filter:drop-shadow(10px 10px 300px rgba(255, 255, 255, 0.493));
    position: relative;
}

p {
    text-align: center;
    font-size:12px;
    position:relative;top:50px;
}


h5 {
    position:relative;left:190px;
    margin-top: 10px;
}

input[type="color"] {
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 10 0 5px rgba(0, 0, 0, 0.3);
    width:30px;
    height:30px;
    position:relative;left:200px;
  }

.point {
    background-color:white;
    height:1em;
    width:1em;
    border-radius:50%;
    position: relative;
    z-index:5;
}

.point_min,.point_sec,.point_hour {
    position:absolute;
    transform-origin:bottom;
    border-radius:20px;
}

.point_min {
    width:5px;
    height: 100px;
    background-color:white; 
    z-index:1;
    transform:rotate(0deg);
    top:100px;
}

.point_sec {
    width:3px;
    height: 150px;
    background-color:rgb(223, 0, 0);
    z-index:2;
    transform:rotate(0deg);
    top:48px;
}

.point_hour {
    width:5px;
    height: 70px;
    background-color:rgb(255, 255, 255);
    z-index:3;
    transform:rotate(0deg);
    top:126px;
}

@media (min-width:200px) and (max-width:500px) {

    .clock_body {
        height:250px;
        width:250px;
    }
    .point_min {
        top:20px;
    }
    .point_hour {
        top:50px;
    }

    .point_sec {
        top:20px;
        height:100px;
    }

    .background_color {
        justify-content:center;
        position:relative;right:80%;
    }

    p {
        font-size:10px;
    }

}